Options -Indexes

RewriteEngine On
# internally add a trailing slash to directories
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*?[^/])$ %{REQUEST_URI}/ [L]

RewriteRule ^([^/.]+)/?$ index.html?pag=$1&%{QUERY_STRING} [NC,L,QSA]