Options -Indexes

RewriteEngine On
# internally add a trailing slash to directories
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^(.*?[^/])$ %{REQUEST_URI}/ [L]
RewriteRule ^([^/.]+)/?$ index.html?pag=$1&%{QUERY_STRING} [NC,L,QSA]
RewriteRule ^projects/([^/.]+)/?$ index.html?pag=projects&%{QUERY_STRING} [NC,L,QSA]
