@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext");
:root {
	--text-gray-1: #f8f9fa;
	--text-gray-2: #e9ecef;
	--text-gray-3: #dee2e6;
	--text-gray-4: #ced4da;
	--text-gray-5: #adb5bd;
	--text-gray-6: #6c757d;
	--text-gray-7: #495057;
	--text-gray-8: #343a40;
	--text-gray-9: #212529;
	--text-primary: #0072ff;
	--text-secondary: #4ed199;
	--text-green: #4ed199;
	--text-cyan: #0dd3ff;
	--text-yellow: #ffc168;
	--text-orange: #f90;
	--text-red: #ff6c5f;
	--text-blue: #1274e7;
	--text-brown: #b4a996;
	--text-purple: #4b19f7;
	--text-white: #fff;
	--text-black: #000;
	--text-dark-opacity-05: rgba(0, 0, 0, 0.05);
	--text-light-opacity-05: rgba(255, 255, 255, 0.05);
	--text-dark-opacity-0: rgba(0, 0, 0, 0);
	--text-light-opacity-0: rgba(255, 255, 255, 0);
	--text-dark-opacity-1: rgba(0, 0, 0, 0.1);
	--text-light-opacity-1: rgba(255, 255, 255, 0.1);
	--text-dark-opacity-2: rgba(0, 0, 0, 0.2);
	--text-light-opacity-2: rgba(255, 255, 255, 0.2);
	--text-dark-opacity-3: rgba(0, 0, 0, 0.3);
	--text-light-opacity-3: rgba(255, 255, 255, 0.3);
	--text-dark-opacity-4: rgba(0, 0, 0, 0.4);
	--text-light-opacity-4: rgba(255, 255, 255, 0.4);
	--text-dark-opacity-5: rgba(0, 0, 0, 0.5);
	--text-light-opacity-5: rgba(255, 255, 255, 0.5);
	--text-dark-opacity-6: rgba(0, 0, 0, 0.6);
	--text-light-opacity-6: rgba(255, 255, 255, 0.6);
	--text-dark-opacity-7: rgba(0, 0, 0, 0.7);
	--text-light-opacity-7: rgba(255, 255, 255, 0.7);
	--text-dark-opacity-8: rgba(0, 0, 0, 0.8);
	--text-light-opacity-8: rgba(255, 255, 255, 0.8);
	--text-dark-opacity-9: rgba(0, 0, 0, 0.9);
	--text-light-opacity-9: rgba(255, 255, 255, 0.9);
	--text-dark-opacity-10: rgba(0, 0, 0, 1);
	--text-light-opacity-10: rgba(255, 255, 255, 1);
}

body {
	font-family: "Manrope", sans-serif !important;
	background-color: #f2f3f5 !important;
}
.banner-top {
	margin-top: -56px;
}
.loading-page {
	padding: 46vh 1rem;
	width: 100%;
	margin: auto;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 90;
	text-align: center;
	color: white;
	background: #031621;
	background: -webkit-linear-gradient(to top, #020202, #031621);
	background: linear-gradient(to top, #020202, #031621);
}
.navbar li a,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Manrope", sans-serif !important;
}
.navbar a {
	font-size: 14px !important;
}
.navbar-brand {
	font-family: "Poppins", sans-serif;
	font-size: 20px !important;
}
#modal-nav {
	position: fixed;
	z-index: 9;
	background: #fff;
	position: fixed;
	z-index: 9;
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#modal-nav .btn-link-menu {
	display: block;
	text-decoration: none;
	text-align: center;
	font-family: Manrope, sans-serif;
	color: #000;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.4rem;
	background: linear-gradient(to left, #fff 50%, #000 50%) right;
	background-size: 200%;
	transition: 0.3s ease-out;
}
#modal-nav a:hover {
	background-position: left;
	color: #fff;
}
#modal-nav .modal-nav-close {
	color: rgb(168, 168, 168);
	position: fixed;
	right: 4rem;
	top: 2rem;
	padding: 1rem;
	cursor: pointer;
}

@keyframes home-angle {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
.home-angle {
	position: absolute;
	bottom: 1rem;
	width: 100%;
	left: 0;
	text-align: center;
	-moz-animation: home-angle 2s infinite;
	-webkit-animation: home-angle 2s infinite;
	animation: home-angle 2s infinite;
}
.cursor {
	cursor: default;
}
.poppins {
	font-family: "Poppins", sans-serif!important;
}
.manrope {
	font-family: "Manrope", sans-serif!important;
}
.shadow {
	box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05),
		0 0.5rem 1.2rem rgba(0, 0, 0, 0.1) !important;
}

.skills-logo {
	filter: grayscale(1);
}
.background-home {
	height: 114vh;
	padding-top: 2rem;
}

.proyecto-titulo {
	position: absolute;
	top: 0;
	background: linear-gradient(0deg, #5a5757, transparent);
	height: 100%;
	width: 100%;
	padding-top: 5.6pc;
	text-shadow: 0 0 8px black;
	text-align: center;
	vertical-align: bottom;
	margin: 0;
	color: #fff;
	border-radius: 0 0px 10px 10px;
}
.proyecto-titulo:hover {
	transition: 3s all ease-in-out;
	background: linear-gradient(0deg, #171616, transparent);
}

/* GAMING */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #7814d1 !important;
	border: 1px solid #fff;
}
.img-steam-avatar {
	box-shadow: 0 0 10px #8e14d9;
}
.gaming-online {
	border: 3px solid rgb(22, 178, 8);
	background-color: rgb(5, 141, 28);
	height: 10px;
	width: 10px;
	border-radius: 50%;
	animation: colorchange 3s;
	animation-iteration-count: infinite;
}

@keyframes colorchange {
	0% {
		border: 3px solid rgb(22, 178, 8);
	}
	50% {
		border: 3px solid rgb(5, 141, 28);
	}
	100% {
		border: 3px solid rgb(22, 178, 8);
	}
}
/* END GAMING */
.emoji-tooltip{
	width:20px;
	vertical-align: sub;
}
.bg-gradient-venice-blue {
	color: white;
	background: #085078; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#85d8ce,
		#085078
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#85d8ce,
		#085078
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-electric-violet {
	color: white;
	background: #4776e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#8e54e9,
		#4776e6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#8e54e9,
		#4776e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-mojito {
	color: white;
	background: #1d976c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#93f9b9,
		#1d976c
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#93f9b9,
		#1d976c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-cherry {
	color: white;
	background: #eb3349; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#f45c43,
		#eb3349
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#f45c43,
		#eb3349
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-home-top {
	border-radius: 1rem !important;
	backdrop-filter: blur(5px) !important;
	-webkit-backdrop-filter: blur(5px);
	background: rgba(255, 255, 255, 0.2) !important;
	color: white !important;
	border: none !important;
}
.border-radius {
	border-radius: 1rem;
}
.card.border-radius {
	border-radius: 1rem !important;
}
body.bg-obscure-mode {
	background-color: #080808 !important;
}
.bg-obscure-mode nav,
.bg-obscure-mode .nav-link,
.bg-obscure-mode header,
.bg-obscure-mode .dropdown-menu {
	background-color: #171717 !important;
	color: var(--gray) !important;
}
.bg-obscure-mode .card-sections {
	filter: brightness(0.5);
}
.setting-obscure-mode {
	font-size: 20px;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	cursor: pointer;
}

/* LIGHT MODE 
    - BADGES
*/
.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bg-primary-light {
	background-color: rgba(133, 204, 255, 0.15) !important;
}
.text-primary {
	color: #1fa2ff !important;
}
.bg-gradient-primary {
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(to right),
			color-stop(#0072ff),
			color-stop(#8200f4),
			to(#ff6c5f)
		)
		fixed !important;
	background: linear-gradient(to right, #0072ff, #8200f4, #ff6c5f) fixed !important;
	background-repeat: repeat-y;
}
.bg-success-light {
	background-color: rgba(159, 230, 200, 0.15) !important;
}
.text-success {
	color: #4ed199 !important;
}
.bg-danger-light {
	background-color: rgba(255, 202, 197, 0.15) !important;
}
.text-default {
	color: #adb5bd !important;
}
.text-danger {
	color: #ff6c5f !important;
}
.bg-orange-light {
	background-color: rgba(255, 194, 102, 0.15) !important;
}
.text-orange {
	color: #f90 !important;
}
.bg-info-light {
	background-color: rgba(115, 230, 255, 0.15) !important;
}
.text-info {
	color: #0dd3ff !important;
}
.bg-gray {
	background-color: #f8f9fa !important;
}
.text-gray {
	color: #adb5bd !important;
}
.text-light-opacity-9 {
	color: rgba(255, 255, 255, 0.9) !important;
}
.bg-violet {
	background-color: #7510f7;
	color: #fff;
}
.text-gradient-primary,
.text-gradient-primary * {
	background-color: #0072ff;
	background-image: -webkit-gradient(
		linear-gradient(to right, #0072ff, #8200f4, #ff6c5f)
	) !important;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(to right),
		color-stop(#0072ff),
		color-stop(#8200f4),
		to(#ff6c5f)
	) !important;
	background-image: linear-gradient(
		to right,
		#0072ff,
		#8200f4,
		#ff6c5f
	) !important;
	background-size: 100%;
	-webkit-box-decoration-break: clone;
	-webkit-background-clip: text !important;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	box-decoration-break: clone;
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: repeat;
}

/* BLOG */
.card-img-overlay {
	/*IMAGEN PORTADA*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
	border-radius: calc(0.25rem - 1px);
}
.card-img-overlay:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.author-name {
	color: #495057 !important;
	font-weight: 700 !important;
}
.author-avatar {
	height: 40px !important;
	width: 40px !important;
	border-radius: 100% !important;
}
/*
    - BUTTONS
*/
.btn {
	display: inline-block;
	font-weight: 400;
	color: #adb5bd;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 0rem solid transparent;
	margin-right: 10px;
	padding: 0.5625rem 1.125rem;
	font-size: 0.875rem;
	line-height: 1.8;
	border-radius: 4px;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	line-break: normal;
}
.btn-primary {
	color: #fff;
	background-color: #0072ff;
	border-color: #0072ff;
	box-shadow: none;
	text-shadow: 0px;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0069eb;
	border-color: #005bcc;
}
.btn-outline-black {
	color: #000;
	border-color: #000;
	border: 2px solid #000;
	padding: calc(0.5625rem - 2px) 1.125rem;
}
.btn-outline-black:hover {
	color: #fff;
	background-color: #000;
	border-color: #000 !important;
}
.btn-gradient-primary {
	-webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(to right),
		color-stop(#0072ff),
		color-stop(#8200f4),
		to(#ff6c5f)
	) !important;
	background: linear-gradient(to right, #0072ff, #8200f4, #ff6c5f) !important;
}
* {
	box-sizing: border-box;
}
.video-background {
	background: #000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -99;
}
.video-foreground,
.video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
	.video-foreground {
		height: 300%;
		top: -100%;
	}
}
@media (max-aspect-ratio: 16/9) {
	.video-foreground {
		width: 300%;
		left: -100%;
	}
}
/* Swiper */

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.skills-logo:hover {
	filter: none !important;
	transition: 0.2s all ease-in-out;
}

.project-title {
	position: absolute;
	padding-bottom: 8px;
	bottom: -7px;
	border-radius: 0 0 1rem 1rem;
	margin: auto;
	color: white;
	width: 100%;
	background: linear-gradient(360deg, black, transparent);
}
iframe {
	border-radius: 1rem;
}
/* Media */
@media screen and (max-width: 992px) {
	#modal-nav {
		padding: 6rem 1rem;
	}
	.background-home {
		margin-top: -8rem;
		position: relative;
	}
	.background-home .row {
		margin-top: 10rem;
	}
	.logo-trust {
		width: 130px;
	}
	.section-home-cards {
		margin-top: -40px !important;
	}
}
@media screen and (min-width: 992px) {
	#modal-nav {
		padding: 5rem 10rem;
	}
	.navmenu,
	.navmenu a,
	.navmenu div {
		font-size: 28px;
	}
	.hand-home {
		position: absolute;
		right: 20pc;
		top: 20vh;
		z-index: 2;
	}
	.background-home {
		margin-top: -4rem;
	}
	.background-home .row {
		margin-top: 10%;
	}
	.section-home-cards {
		margin-top: -40px !important;
	}
	.section-trust {
		margin-top: -142px;
		height: 250px;
		padding-top: 112px;
	}
	.logo-trust {
		width: 160px;
	}
}
